<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>

    <%- include ('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum animi minima rem sint, incidunt esse veritatis.</p>
        <p>Lorem ipsum animi minima rem sint, incidunt esse veritatis.</p>
        <p>Lorem ipsum animi minima rem sint, incidunt esse veritatis.</p>
      </div>

      <%- include ('./partials/footer.ejs') %>
    
</body>
</html>